name: CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    env:
      platform: aws
      region: us_east-1
      account: 1234567789012

      username: ${{ secrets.USERNAME  }}
      password: ${{ secrets.PASSWORD }}

    runs-on: ubuntu-latest

    steps:
      - name: "Mostrar mensaje"
        run: echo "Hola mundo"

      - name: "Mostrando variables de entorno"

        run: |
          echo "Esto es el valor de platform: ${{env.platform}}"
          echo "Esto es una región: ${{ env.region }}"
          echo "Esto es una cuenta: ${{ env.account }}"

      - name: "Mostrando valores solo si el usuario es correcto"
        if: ${{ env.username != '' && env.password != '' }}
        run: |
          echo 'Sí existe usuario y contraseña'

      - name: "Mostrando variables por defecto"
        run: |
          echo "Evento: ${{ toJson(github.event) }}"
          echo "Github_ACTOR: $GITHUB_ACTOR"
          echo "Github_ACTOR: $GITHUB_REPOSITORY"
